[Desktop Entry]
Name=DogeHouse
Comment=Taking voice conversations to the moon 🚀
GenericName=Social
Exec=dogehouse
Icon=${SNAP}/meta/gui/dogehouse.png
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Social;
MimeType=text/plain;
StartupWMClass=dogehouse
